* {
    box-sizing: border-box;
}

* {
    font-family: 'Lato', sans-serif;
    color: black;
    font-weight: 300;
}


hr {
    height: 1px;
    background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,.75),rgba(0,0,0,0));
}

hr {
    border: 0;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100%;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
}

img, embed, object, video{
    max-width: 100%;
}

.img-links{
    display: block;
    margin: auto;
    border: 2pt outset grey;
    width: 350px;
    height: 150px;
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}

h1 {
    font-size: 49px;
    font-weight: 100;
    margin: 20px 0 0 0;
}

h2 {
    font-size: 20px;
    color: black;
    font-weight: bold;
}

h3 {
    font-weight: bold;
    margin: 10px 0 0 0;
}

h4 {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.logo {
    margin: 20px 0 0 0;
    padding: 0 15px 7px 15px;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 92.66%;
}

.col-12 {
    width: 100%;
}

